<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBudZDhW-PBJWk0HrD0517qk622KXJSUo0</string>
	<key>GCM_SENDER_ID</key>
	<string>745900172350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jallzstores.egchat</string>
	<key>PROJECT_ID</key>
	<string>egchat-4efe7</string>
	<key>STORAGE_BUCKET</key>
	<string>egchat-4efe7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745900172350:ios:631237398cb5968b695d6f</string>
</dict>
</plist>